*{
    box-sizing: border-box;
}
.index-body{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.filter-container{

    width: 20%;
}
.content-container{

    width: 80%;
}